*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /*1rem = 16px but now 1rem = 10px && 100% = 16px => 100/16 = 6.25% => 1px = 6.25% => 10p = 62.5% = 10px = 1rem*/
}

body{
    background-color: rgb(32, 32, 32);
}

.flyer{
    width: 70%;
    background-color: #fff;
    padding: 3rem;
}

.mid{
    background-image: linear-gradient(to bottom, rgb(59, 160, 218) 55%, rgba(255, 255, 255, 0) 0%);
    background-position: center;
    background-size: 0.1rem 2rem;
    background-repeat: repeat-y;
    width: 1%;
    height: 100rem;
}

.banner{
    color: white;
    text-align: center;
}

.box{
    height: 4rem;
    width: 100%;
    border: 0.1rem solid #19AEC2;
    background: #19AEC2;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.3em;
    position: relative;
    font-size: 2rem;
}

.box:before{
    position: absolute;
    content: "";
    width: 2.8rem;
    height: 2.8rem;
    z-index: 1;
    background: #fff;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    left: -1.4rem;
    top: 0.5rem;
}

.box:after{
    position: absolute;
    content: "";
    width: 2.8rem;
    height: 2.8rem;
    z-index: 1;
    background: #fff;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    right: -1.4rem;
    top: 0.5rem;
}

.title{
    text-align: center;
    color: #19AEC2;
    font-size: 4.2rem;
}

.spantitle{
    color: #F7C119;
}

.ptitle{
    color: #797979;
    font-weight: bold;
    text-align: center;
    font-size: 1.95rem;
}

.heading1{
    color: #37596D;
    font-weight: 500;
    font-size: 2.7rem;
}

.p2{
    color: #19AEC2;
    font-weight: 700;
    font-size: 1.2rem;
}

.five{
    color: #F7C119;
    font-weight: 500;
    font-size: 4.5rem;
}

.images{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.cake1{
    z-index: 2;
}

.cake2{
    margin-left: -5rem;
    opacity: 0.6;
    z-index: 1;
}

.fries1{
    z-index: 2;
}

.fries2{
    margin-left: -3rem;
    opacity: 0.6;
    z-index: 1;
}

.donut1{
    z-index: 2;
}

.donut2{
    margin-left: -3rem;
    opacity: 0.6;
    z-index: 1;
}

.juice1{
    z-index: 2;
}

.juice2{
    margin-left: -5rem;
    opacity: 0.6;
    z-index: 1;
}

.nearly{
    width: 70%;
    display: flex;
    justify-content: center;
}

.nearly img{
    width: 60%;
}

.million{
    text-align: right;
    line-height: 1.9rem;
    width: 30%;
}

.rad{
    display: flex;
    align-items:flex-end;
    width: 100%;
}

.a{
    display: inline-block;
    width: 30%;
}

.b{
    display: inline-block;
    width: 25%;
}

.c{
    display: inline-block;
}

.age{
    color: #F7C119;
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 0;
}

.agePercentage{
    color: #37596D;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.man{
    height: 5rem;
    width: 2.5rem;
}

.healthy{
    color: #19AEC2;
    font-size: 3rem;
    text-align: center;
}

.fnb{
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.f2{
    margin: 0 1rem 0 1rem;
}

.f2 h1{
    color: #F7C119;
    font-weight: 500;
    font-size: 5rem;
}

.emage{
    width: 29%;
}

.pic{
    display: flex;
}

.pic img{
    height: 100%;
    display: inline-block;
}

.disease{
    color: #37596D;
    font-size: 2.5rem;
}

.people{
    color: #F7C119;
    font-size: 3rem;
}

.people span{
    font-size: 2rem;
}

.round{
    width: 10rem;
    height: 10rem;
    border: 0.2rem solid #37596D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded{
    display: flex;
    justify-content: center;
    align-items: center;
}

.round img{
    height: 7rem;
    width: 6rem;
}

@media screen and (max-width: 1200px) {

    html{
        font-size: 50%;
    } 

    .flyer{
        width: 50%;
    }
    
    .mid{
        display: none;
    }
    
    #col2{
        margin-top: 1rem;
    }

    .nearly img{
        width: 60%;
    }

    .nearly{
        width: 80%;
    }

    .nearly div{
        display: flex;
        justify-content: center;
    }

    .million{
        text-align: center;
        width: 20%;
    }
}

@media screen and (max-width: 991px) {

    .flyer{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .flyer{
        width: 90%;
    }
}

@media screen and (max-width: 480px) {

    html{
        font-size: 20%;
    }
}
